<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<settings>
  		<!-- DB의 표기법:스네이크 표기법 -> java의 표기법으로 바꿔줌:카멜 표기법 -->
  		<setting name="mapUnderscoreToCamelCase" value="true"/>
  		<!-- java의 null -> db의 무엇으로 인식 자바에서 db로 보낼 때-->
  		<setting name="jdbcTypeForNull" value="NULL"/>
  	</settings>
  	<typeAliases>
  	<!-- 클래스명 그 자체가 별칭이 되도록 함 -->
  		<package name="com.yedam.app"/>
  	</typeAliases>
  	<typeHandlers>
  		<!-- java.sql.Timestamp -> java.util.Date 중간 역할을 하게 해주는 것 -->
  		<typeHandler javaType="java.sql.Date" handler="org.apache.ibatis.type.DateTypeHandler"/>
  	</typeHandlers>
  </configuration>